body{
    background-color: #FFEEC3;
}
.reg-log-container {
    width: 280px;
    padding: 25px 15px;
    margin-top: 30px;
}
.btn {
    margin: 10px;
    padding: 6px;
    width: 150px;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #EE3253;


}


.input {
    width: 250px;
    padding: 3px;
    margin: 7px;
}
.toolbar {
    background-color: #FFE11D;
    height: 50px;
    width: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.user-container {
    width: auto;
    background-color: #ffeec3;
    height: 250px;
    padding: 25px;
}
.userImg {
    height: 120px;
    width: 140px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.pagination {
    justify-content: center;
    margin-top: 20px;

}

ul {
    list-style: none;
    padding: 0;
    display: flex;

}

ul.pagination li {
    display: inline-block;
    width: 30px;
    border: 1px solid #2a2020;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

ul.pagination li a {
    text-decoration: none;
    color: #da6753;
    font-size: 20px;
}

ul.pagination li.active a {
    color: #b72d2d;
}
ul.pagination li.active {
    background-color: #ffffff;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #a98d83;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.topicCard {
    border: #f5cac2;
    margin: 2px;
    background-color: rgba(33, 42, 33, 0.58);
    padding: 10px;
    width: 80%;
}
.title {
    width: 80%;
}
.topicCard:hover {
    background-color: rgba(56, 72, 56, 0.58);
}
.topic-onclick:hover {
    cursor: pointer;
}

/* comment */
.comment-container {
    margin: 20px 60px;
    border: 1px solid black;
    height: auto;
    width: auto;

}
.comment-container img {
    height: 150px;
    width: 150px;

}
.user-info {
    font-size: 16px;
}
.user-box {
    border-right: solid 1px black;
    padding: 0px;
}
.comment-box {

    padding: 15px;
    height: auto;
    width: auto;
}
textarea {
    margin: 20px 60px 0 60px;
    min-height: 150px;
    width: 89%;
}
.user-comment-container {
    width: auto;
}
.link-topic:hover {
    cursor: pointer;
    text-decoration: underline;
}

.di-flex {
    display: flex;
}
.none {
    display: none;
}

.profile{
    height: auto;
    width: 100%;
    background-color: #8a7a77;
}

.borders{
    border: #233636 2px solid;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px;
    margin-top:20px;

}
.toolbarLogo{
    height: 50px;
    width: 50px;
    display: flex;

}
.loginFlex{
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.display-flex{
    display: flex;
}
.forumStyle{
    display:flex;
    justify-content: space-around;
}
.flex-grow2{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.flex-grow1{
margin-right: 5px;
    display: flex;
    align-items: center;
}
.margin0{
    margin: 0px;
}


.commentBoxses {
    margin-right: 5px;
    align-items: center;
}